@model IEnumerable<Restaurant>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model) {

        <div class="col-md-3 mb-4">
                <div class="card" style="width: 12rem;">
                    <img src="~/images/restaurant_sample.jpg" class="card-img-top" alt="damn">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <a asp-controller="Home" asp-action="RestaurantPreview" asp-route-id="@item.Id" class="btn btn-primary"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
